.elementor-524 .elementor-element.elementor-element-2a1c33b6 {
    padding: 50px 0px 50px 0px;
}

.elementor-524 .elementor-element.elementor-element-2ca4f64f>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-524 .elementor-element.elementor-element-e44d25b {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: var(--e-global-color-primary);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-524 .elementor-element.elementor-element-e44d25b,
.elementor-524 .elementor-element.elementor-element-e44d25b>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-524 .elementor-element.elementor-element-e44d25b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-524 .elementor-element.elementor-element-8ad803b>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-524 .elementor-element.elementor-element-e279c0f .jeg-elementor-kit.jkit-post-featured-image {
    text-align: left;
}

.elementor-524 .elementor-element.elementor-element-e279c0f .jeg-elementor-kit.jkit-post-featured-image .post-featured-image img {
    max-width: 100%;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: var(--e-global-color-primary);
    border-radius: 10px 10px 10px 10px;
}

.elementor-524 .elementor-element.elementor-element-b38b80a>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-524 .elementor-element.elementor-element-b38b80a>.elementor-element-populated,
.elementor-524 .elementor-element.elementor-element-b38b80a>.elementor-element-populated>.elementor-background-overlay,
.elementor-524 .elementor-element.elementor-element-b38b80a>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-524 .elementor-element.elementor-element-b38b80a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 25px 25px 25px 25px;
}

.elementor-524 .elementor-element.elementor-element-a34c992 .jeg-elementor-kit.jkit-post-title {
    text-align: left;
}

.elementor-524 .elementor-element.elementor-element-a34c992 .jeg-elementor-kit.jkit-post-title .post-title,
.elementor-524 .elementor-element.elementor-element-a34c992 .jeg-elementor-kit.jkit-post-title .post-title a {
    font-size: var(--e-global-typography-5573832-font-size);
    font-weight: var(--e-global-typography-5573832-font-weight);
    line-height: var(--e-global-typography-5573832-line-height);
    letter-spacing: var(--e-global-typography-5573832-letter-spacing);
    word-spacing: var(--e-global-typography-5573832-word-spacing);
}

.elementor-524 .elementor-element.elementor-element-a34c992 .jeg-elementor-kit.jkit-post-title .post-title.style-color,
.elementor-524 .elementor-element.elementor-element-a34c992 .jeg-elementor-kit.jkit-post-title .post-title.style-color a {
    color: var(--e-global-color-03edc69);
}

.elementor-524 .elementor-element.elementor-element-a34c992>.elementor-widget-container {
    margin: -15px 0px -25px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-524 .elementor-element.elementor-element-2b0cc46 {
    --divider-border-style: dots_tribal;
    --divider-color: var(--e-global-color-03edc69);
    --divider-pattern-height: 18px;
}

.elementor-524 .elementor-element.elementor-element-2b0cc46 .elementor-divider-separator {
    width: 100%;
}

.elementor-524 .elementor-element.elementor-element-2b0cc46 .elementor-divider {
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-524 .elementor-element.elementor-element-2b0cc46>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-524 .elementor-element.elementor-element-1f3f644 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-524 .elementor-element.elementor-element-1f3f644 .elementor-icon {
    font-size: 13px;
}

.elementor-524 .elementor-element.elementor-element-1f3f644 .elementor-icon i,
.elementor-524 .elementor-element.elementor-element-1f3f644 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-524 .elementor-element.elementor-element-1f3f644>.elementor-widget-container {
    margin: 0px 5px -7px 0px;
}

.elementor-524 .elementor-element.elementor-element-1f3f644 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-524 .elementor-element.elementor-element-8afff67 .jeg-elementor-kit.jkit-post-date {
    text-align: left;
}

.elementor-524 .elementor-element.elementor-element-8afff67 .jeg-elementor-kit.jkit-post-date .post-date,
.elementor-524 .elementor-element.elementor-element-8afff67 .jeg-elementor-kit.jkit-post-date .post-date a {
    font-size: var(--e-global-typography-edeeeb0-font-size);
    font-weight: var(--e-global-typography-edeeeb0-font-weight);
    line-height: var(--e-global-typography-edeeeb0-line-height);
    letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
    word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
    color: #47ad48;
}

.elementor-524 .elementor-element.elementor-element-8afff67 .jeg-elementor-kit.jkit-post-date:hover .post-date,
.elementor-524 .elementor-element.elementor-element-8afff67 .jeg-elementor-kit.jkit-post-date:hover .post-date a {
    color: var(--e-global-color-03edc69);
}

.elementor-524 .elementor-element.elementor-element-8afff67>.elementor-widget-container {
    margin: 0px 10px 0px 0px;
}

.elementor-524 .elementor-element.elementor-element-8afff67 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-524 .elementor-element.elementor-element-5b1497e .elementor-icon-wrapper {
    text-align: center;
}

.elementor-524 .elementor-element.elementor-element-5b1497e .elementor-icon {
    font-size: 13px;
}

.elementor-524 .elementor-element.elementor-element-5b1497e .elementor-icon i,
.elementor-524 .elementor-element.elementor-element-5b1497e .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-524 .elementor-element.elementor-element-5b1497e>.elementor-widget-container {
    margin: 0px 5px -7px 0px;
}

.elementor-524 .elementor-element.elementor-element-5b1497e {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms {
    text-align: left;
}

.elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms .post-terms,
.elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms .term-list,
.elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms .term-list a {
    font-size: var(--e-global-typography-edeeeb0-font-size);
    font-weight: var(--e-global-typography-edeeeb0-font-weight);
    line-height: var(--e-global-typography-edeeeb0-line-height);
    letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
    word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
    color: #47ad48;
}

.elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms .term-list:hover,
.elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms .term-list:hover a {
    color: var(--e-global-color-03edc69);
}

.elementor-524 .elementor-element.elementor-element-28f7544>.elementor-widget-container {
    margin: 0px 10px 0px 0px;
}

.elementor-524 .elementor-element.elementor-element-28f7544 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-524 .elementor-element.elementor-element-d7ccfd0 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-524 .elementor-element.elementor-element-d7ccfd0 .elementor-icon {
    font-size: 13px;
}

.elementor-524 .elementor-element.elementor-element-d7ccfd0 .elementor-icon i,
.elementor-524 .elementor-element.elementor-element-d7ccfd0 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-524 .elementor-element.elementor-element-d7ccfd0>.elementor-widget-container {
    margin: 0px 5px -7px 0px;
}

.elementor-524 .elementor-element.elementor-element-d7ccfd0 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-524 .elementor-element.elementor-element-1ea2e13 .jeg-elementor-kit.jkit-post-author {
    text-align: left;
}

.elementor-524 .elementor-element.elementor-element-1ea2e13 .jeg-elementor-kit.jkit-post-author .post-author,
.elementor-524 .elementor-element.elementor-element-1ea2e13 .jeg-elementor-kit.jkit-post-author .post-author a {
    font-size: var(--e-global-typography-edeeeb0-font-size);
    font-weight: var(--e-global-typography-edeeeb0-font-weight);
    line-height: var(--e-global-typography-edeeeb0-line-height);
    letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
    word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
    color: #47ad48;
}

.elementor-524 .elementor-element.elementor-element-1ea2e13 .jeg-elementor-kit.jkit-post-author:hover .post-author,
.elementor-524 .elementor-element.elementor-element-1ea2e13 .jeg-elementor-kit.jkit-post-author:hover .post-author a {
    color: var(--e-global-color-03edc69);
}

.elementor-524 .elementor-element.elementor-element-1ea2e13 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-524 .elementor-element.elementor-element-237c4b5 {
    --divider-border-style: dots_tribal;
    --divider-color: var(--e-global-color-03edc69);
    --divider-pattern-height: 18px;
}

.elementor-524 .elementor-element.elementor-element-237c4b5 .elementor-divider-separator {
    width: 100%;
}

.elementor-524 .elementor-element.elementor-element-237c4b5 .elementor-divider {
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-524 .elementor-element.elementor-element-237c4b5>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-524 .elementor-element.elementor-element-a0d1e9a .elementor-spacer-inner {
    --spacer-size: 10px;
}

.elementor-524 .elementor-element.elementor-element-af56459 .jeg-elementor-kit.jkit-post-excerpt {
    text-align: left;
}

.elementor-524 .elementor-element.elementor-element-af56459 .jeg-elementor-kit.jkit-post-excerpt .post-excerpt,
.elementor-524 .elementor-element.elementor-element-af56459 .jeg-elementor-kit.jkit-post-excerpt .post-excerpt a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    color: var(--e-global-color-cfbcf2d);
}

.elementor-524 .elementor-element.elementor-element-af56459>.elementor-widget-container {
    padding: 15px 15px 15px 15px;
    background-color: var(--e-global-color-5d99cec);
    border-radius: 10px 10px 10px 10px;
}

.elementor-524 .elementor-element.elementor-element-af56459.bdt-background-overlay-yes>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-524 .elementor-element.elementor-element-af56459.ha-has-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-524 .elementor-element.elementor-element-6f6b1ff {
    --divider-border-style: dots_tribal;
    --divider-color: var(--e-global-color-03edc69);
    --divider-pattern-height: 18px;
}

.elementor-524 .elementor-element.elementor-element-6f6b1ff .elementor-divider-separator {
    width: 100%;
}

.elementor-524 .elementor-element.elementor-element-6f6b1ff .elementor-divider {
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-524 .elementor-element.elementor-element-6f6b1ff>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-524 .elementor-element.elementor-element-de8dfdd {
    --divider-border-style: dots_tribal;
    --divider-color: var(--e-global-color-03edc69);
    --divider-pattern-height: 18px;
}

.elementor-524 .elementor-element.elementor-element-de8dfdd .elementor-divider-separator {
    width: 100%;
}

.elementor-524 .elementor-element.elementor-element-de8dfdd .elementor-divider {
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-524 .elementor-element.elementor-element-de8dfdd>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-524 .elementor-element.elementor-element-a19c5ac>.elementor-widget-container {
    padding: 25px 25px 25px 25px;
    background-color: var(--e-global-color-5d99cec);
    border-radius: 15px 15px 15px 15px;
}

.elementor-524 .elementor-element.elementor-element-a19c5ac.bdt-background-overlay-yes>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-524 .elementor-element.elementor-element-a19c5ac.ha-has-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

:root {
    --page-title-display: none;
}

@media(max-width:1024px) {
    .elementor-524 .elementor-element.elementor-element-2a1c33b6 {
        padding: 25px 25px 25px 25px;
    }

    .elementor-524 .elementor-element.elementor-element-e279c0f .jeg-elementor-kit.jkit-post-featured-image {
        text-align: center;
    }

    .elementor-524 .elementor-element.elementor-element-a34c992 .jeg-elementor-kit.jkit-post-title {
        text-align: left;
    }

    .elementor-524 .elementor-element.elementor-element-a34c992 .jeg-elementor-kit.jkit-post-title .post-title,
    .elementor-524 .elementor-element.elementor-element-a34c992 .jeg-elementor-kit.jkit-post-title .post-title a {
        font-size: var(--e-global-typography-5573832-font-size);
        line-height: var(--e-global-typography-5573832-line-height);
        letter-spacing: var(--e-global-typography-5573832-letter-spacing);
        word-spacing: var(--e-global-typography-5573832-word-spacing);
    }

    .elementor-524 .elementor-element.elementor-element-8afff67 .jeg-elementor-kit.jkit-post-date {
        text-align: left;
    }

    .elementor-524 .elementor-element.elementor-element-8afff67 .jeg-elementor-kit.jkit-post-date .post-date,
    .elementor-524 .elementor-element.elementor-element-8afff67 .jeg-elementor-kit.jkit-post-date .post-date a {
        font-size: var(--e-global-typography-edeeeb0-font-size);
        line-height: var(--e-global-typography-edeeeb0-line-height);
        letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
        word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
    }

    .elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms {
        text-align: left;
    }

    .elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms .post-terms,
    .elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms .term-list,
    .elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms .term-list a {
        font-size: var(--e-global-typography-edeeeb0-font-size);
        line-height: var(--e-global-typography-edeeeb0-line-height);
        letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
        word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
    }

    .elementor-524 .elementor-element.elementor-element-1ea2e13 .jeg-elementor-kit.jkit-post-author {
        text-align: left;
    }

    .elementor-524 .elementor-element.elementor-element-1ea2e13 .jeg-elementor-kit.jkit-post-author .post-author,
    .elementor-524 .elementor-element.elementor-element-1ea2e13 .jeg-elementor-kit.jkit-post-author .post-author a {
        font-size: var(--e-global-typography-edeeeb0-font-size);
        line-height: var(--e-global-typography-edeeeb0-line-height);
        letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
        word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
    }

    .elementor-524 .elementor-element.elementor-element-af56459 .jeg-elementor-kit.jkit-post-excerpt {
        text-align: left;
    }
}

@media(max-width:767px) {
    .elementor-524 .elementor-element.elementor-element-2a1c33b6 {
        padding: 15px 15px 15px 15px;
    }

    .elementor-524 .elementor-element.elementor-element-e279c0f .jeg-elementor-kit.jkit-post-featured-image {
        text-align: center;
    }

    .elementor-524 .elementor-element.elementor-element-b38b80a.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-524 .elementor-element.elementor-element-b38b80a>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-524 .elementor-element.elementor-element-a34c992 .jeg-elementor-kit.jkit-post-title {
        text-align: left;
    }

    .elementor-524 .elementor-element.elementor-element-a34c992 .jeg-elementor-kit.jkit-post-title .post-title,
    .elementor-524 .elementor-element.elementor-element-a34c992 .jeg-elementor-kit.jkit-post-title .post-title a {
        font-size: var(--e-global-typography-5573832-font-size);
        line-height: var(--e-global-typography-5573832-line-height);
        letter-spacing: var(--e-global-typography-5573832-letter-spacing);
        word-spacing: var(--e-global-typography-5573832-word-spacing);
    }

    .elementor-524 .elementor-element.elementor-element-2b0cc46 .elementor-divider {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .elementor-524 .elementor-element.elementor-element-8afff67 .jeg-elementor-kit.jkit-post-date {
        text-align: center;
    }

    .elementor-524 .elementor-element.elementor-element-8afff67 .jeg-elementor-kit.jkit-post-date .post-date,
    .elementor-524 .elementor-element.elementor-element-8afff67 .jeg-elementor-kit.jkit-post-date .post-date a {
        font-size: var(--e-global-typography-edeeeb0-font-size);
        line-height: var(--e-global-typography-edeeeb0-line-height);
        letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
        word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
    }

    .elementor-524 .elementor-element.elementor-element-8afff67>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }

    .elementor-524 .elementor-element.elementor-element-8afff67 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms {
        text-align: center;
    }

    .elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms .post-terms,
    .elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms .term-list,
    .elementor-524 .elementor-element.elementor-element-28f7544 .jeg-elementor-kit.jkit-post-terms .term-list a {
        font-size: var(--e-global-typography-edeeeb0-font-size);
        line-height: var(--e-global-typography-edeeeb0-line-height);
        letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
        word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
    }

    .elementor-524 .elementor-element.elementor-element-28f7544>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }

    .elementor-524 .elementor-element.elementor-element-28f7544 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-524 .elementor-element.elementor-element-1ea2e13 .jeg-elementor-kit.jkit-post-author {
        text-align: center;
    }

    .elementor-524 .elementor-element.elementor-element-1ea2e13 .jeg-elementor-kit.jkit-post-author .post-author,
    .elementor-524 .elementor-element.elementor-element-1ea2e13 .jeg-elementor-kit.jkit-post-author .post-author a {
        font-size: var(--e-global-typography-edeeeb0-font-size);
        line-height: var(--e-global-typography-edeeeb0-line-height);
        letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
        word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
    }

    .elementor-524 .elementor-element.elementor-element-1ea2e13>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-524 .elementor-element.elementor-element-1ea2e13 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-524 .elementor-element.elementor-element-237c4b5 .elementor-divider {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .elementor-524 .elementor-element.elementor-element-af56459 .jeg-elementor-kit.jkit-post-excerpt {
        text-align: left;
    }
}

@media(min-width:768px) {
    .elementor-524 .elementor-element.elementor-element-8ad803b {
        width: 41.964%;
    }

    .elementor-524 .elementor-element.elementor-element-b38b80a {
        width: 57.947%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-524 .elementor-element.elementor-element-8ad803b {
        width: 100%;
    }

    .elementor-524 .elementor-element.elementor-element-b38b80a {
        width: 100%;
    }
}