.elementor-21 .elementor-element.elementor-element-0a3831d:not(.elementor-motion-effects-element-type-background),
.elementor-21 .elementor-element.elementor-element-0a3831d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #47ad48;
}

.elementor-21 .elementor-element.elementor-element-0a3831d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 0px 15px 0px;
}

.elementor-21 .elementor-element.elementor-element-0a3831d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-1cd7794 .jeg-elementor-kit.jkit-post-title {
    text-align: center;
}

.elementor-21 .elementor-element.elementor-element-1cd7794 .jeg-elementor-kit.jkit-post-title .post-title,
.elementor-21 .elementor-element.elementor-element-1cd7794 .jeg-elementor-kit.jkit-post-title .post-title a {
    font-size: var(--e-global-typography-5126d72-font-size);
    font-weight: var(--e-global-typography-5126d72-font-weight);
    line-height: var(--e-global-typography-5126d72-line-height);
    letter-spacing: var(--e-global-typography-5126d72-letter-spacing);
    word-spacing: var(--e-global-typography-5126d72-word-spacing);
}

.elementor-21 .elementor-element.elementor-element-1cd7794 .jeg-elementor-kit.jkit-post-title .post-title.style-color,
.elementor-21 .elementor-element.elementor-element-1cd7794 .jeg-elementor-kit.jkit-post-title .post-title.style-color a {
    color: #fff;
}

.elementor-21 .elementor-element.elementor-element-8359306>.elementor-shape-top .elementor-shape-fill {
    fill: #47ad48;
}

.elementor-21 .elementor-element.elementor-element-8359306>.elementor-shape-top svg {
    height: 21px;
}

.elementor-21 .elementor-element.elementor-element-8359306>.elementor-shape-top {
    z-index: 2;
    pointer-events: none;
}

.elementor-21 .elementor-element.elementor-element-acd9dc7 {
    width: 100%;
    max-width: 100%;
}

.elementor-21 .elementor-element.elementor-element-f2bd790:not(.elementor-motion-effects-element-type-background),
.elementor-21 .elementor-element.elementor-element-f2bd790>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-5d99cec);
}

.elementor-21 .elementor-element.elementor-element-f2bd790 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 50px 0px;
}

.elementor-21 .elementor-element.elementor-element-f2bd790>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-f2bd790>.elementor-shape-bottom svg {
    height: 23px;
}

.elementor-21 .elementor-element.elementor-element-a46aac3 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-size: var(--e-global-typography-5126d72-font-size);
    font-weight: var(--e-global-typography-5126d72-font-weight);
    line-height: var(--e-global-typography-5126d72-line-height);
    letter-spacing: var(--e-global-typography-5126d72-letter-spacing);
    word-spacing: var(--e-global-typography-5126d72-word-spacing);
}

.elementor-21 .elementor-element.elementor-element-7fb6eb2 .elementor-spacer-inner {
    --spacer-size: 24px;
}

.elementor-21 .elementor-element.elementor-element-d8b3b40.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-text);
}

.elementor-21 .elementor-element.elementor-element-d8b3b40.elementor-view-framed .elementor-icon,
.elementor-21 .elementor-element.elementor-element-d8b3b40.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-text);
    color: #fff;
    border-color: var(--e-global-color-text);
}

.elementor-21 .elementor-element.elementor-element-d8b3b40 {
    --icon-box-icon-margin: 15px;
}

.elementor-21 .elementor-element.elementor-element-d8b3b40 .elementor-icon-box-title {
    color: #fff;
}

.elementor-21 .elementor-element.elementor-element-d8b3b40 .elementor-icon-box-title,
.elementor-21 .elementor-element.elementor-element-d8b3b40 .elementor-icon-box-title a {
    font-size: var(--e-global-typography-eb4ed3b-font-size);
    font-weight: var(--e-global-typography-eb4ed3b-font-weight);
    line-height: var(--e-global-typography-eb4ed3b-line-height);
    letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
    word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
}

.elementor-21 .elementor-element.elementor-element-d8b3b40 .elementor-icon-box-description {
    color: #fff;
    font-size: var(--e-global-typography-eb4ed3b-font-size);
    font-weight: var(--e-global-typography-eb4ed3b-font-weight);
    line-height: var(--e-global-typography-eb4ed3b-line-height);
    letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
    word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
}

.elementor-21 .elementor-element.elementor-element-d8b3b40>.elementor-widget-container {
    padding: 15px 15px 15px 15px;
    background-color: #47ad48;
    border-radius: 10px 10px 10px 10px;
}

.elementor-21 .elementor-element.elementor-element-d8b3b40:hover .elementor-widget-container {
    background-color: #0e470f;
}

.elementor-21 .elementor-element.elementor-element-d8b3b40.bdt-background-overlay-yes>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-21 .elementor-element.elementor-element-d8b3b40.ha-has-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-21 .elementor-element.elementor-element-82a77c4.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-text);
}

.elementor-21 .elementor-element.elementor-element-82a77c4.elementor-view-framed .elementor-icon,
.elementor-21 .elementor-element.elementor-element-82a77c4.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-text);
    color: #fff;
    border-color: var(--e-global-color-text);
}

.elementor-21 .elementor-element.elementor-element-82a77c4 {
    --icon-box-icon-margin: 15px;
}

.elementor-21 .elementor-element.elementor-element-82a77c4 .elementor-icon-box-title {
    color: #fff;
}

.elementor-21 .elementor-element.elementor-element-82a77c4 .elementor-icon-box-title,
.elementor-21 .elementor-element.elementor-element-82a77c4 .elementor-icon-box-title a {
    font-size: var(--e-global-typography-eb4ed3b-font-size);
    font-weight: var(--e-global-typography-eb4ed3b-font-weight);
    line-height: var(--e-global-typography-eb4ed3b-line-height);
    letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
    word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
}

.elementor-21 .elementor-element.elementor-element-82a77c4 .elementor-icon-box-description {
    color: #fff;
    font-size: var(--e-global-typography-eb4ed3b-font-size);
    font-weight: var(--e-global-typography-eb4ed3b-font-weight);
    line-height: var(--e-global-typography-eb4ed3b-line-height);
    letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
    word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
}

.elementor-21 .elementor-element.elementor-element-82a77c4>.elementor-widget-container {
    padding: 15px 15px 15px 15px;
    background-color: #47ad48;
    border-radius: 10px 10px 10px 10px;
}

.elementor-21 .elementor-element.elementor-element-82a77c4:hover .elementor-widget-container {
    background-color: #0e470f;
}

.elementor-21 .elementor-element.elementor-element-82a77c4.bdt-background-overlay-yes>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-21 .elementor-element.elementor-element-82a77c4.ha-has-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-21 .elementor-element.elementor-element-d997bd0.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-text);
}

.elementor-21 .elementor-element.elementor-element-d997bd0.elementor-view-framed .elementor-icon,
.elementor-21 .elementor-element.elementor-element-d997bd0.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-text);
    color: #fff;
    border-color: var(--e-global-color-text);
}

.elementor-21 .elementor-element.elementor-element-d997bd0 {
    --icon-box-icon-margin: 15px;
}

.elementor-21 .elementor-element.elementor-element-d997bd0 .elementor-icon-box-title {
    color: #fff;
}

.elementor-21 .elementor-element.elementor-element-d997bd0 .elementor-icon-box-title,
.elementor-21 .elementor-element.elementor-element-d997bd0 .elementor-icon-box-title a {
    font-size: var(--e-global-typography-eb4ed3b-font-size);
    font-weight: var(--e-global-typography-eb4ed3b-font-weight);
    line-height: var(--e-global-typography-eb4ed3b-line-height);
    letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
    word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
}

.elementor-21 .elementor-element.elementor-element-d997bd0 .elementor-icon-box-description {
    color: #fff;
    font-size: var(--e-global-typography-eb4ed3b-font-size);
    font-weight: var(--e-global-typography-eb4ed3b-font-weight);
    line-height: var(--e-global-typography-eb4ed3b-line-height);
    letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
    word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
}

.elementor-21 .elementor-element.elementor-element-d997bd0>.elementor-widget-container {
    padding: 15px 15px 15px 15px;
    background-color: #47ad48;
    border-radius: 10px 10px 10px 10px;
}

.elementor-21 .elementor-element.elementor-element-d997bd0:hover .elementor-widget-container {
    background-color: #0e470f;
}

.elementor-21 .elementor-element.elementor-element-d997bd0.bdt-background-overlay-yes>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-21 .elementor-element.elementor-element-d997bd0.ha-has-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-bc-flex-widget .elementor-21 .elementor-element.elementor-element-82b0c96.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-21 .elementor-element.elementor-element-82b0c96.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-21 .elementor-element.elementor-element-decdfd6 .elementor-heading-title {
    font-size: var(--e-global-typography-5573832-font-size);
    font-weight: var(--e-global-typography-5573832-font-weight);
    line-height: var(--e-global-typography-5573832-line-height);
    letter-spacing: var(--e-global-typography-5573832-letter-spacing);
    word-spacing: var(--e-global-typography-5573832-word-spacing);
}

.elementor-21 .elementor-element.elementor-element-897689a .bdt-contact-form-form,
.elementor-21 .elementor-element.elementor-element-897689a .bdt-contact-form-form input,
.elementor-21 .elementor-element.elementor-element-897689a .bdt-contact-form-form textarea {
    text-align: left;
}

.elementor-21 .elementor-element.elementor-element-897689a .bdt-field-group:not(:last-child) {
    margin-bottom: 15px;
    margin-top: 0;
}

.elementor-21 .elementor-element.elementor-element-897689a .bdt-name-email-inline+.bdt-name-email-inline {
    padding-left: 15px;
}

.elementor-21 .elementor-element.elementor-element-897689a .bdt-field-group .bdt-input {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-fe42b8c);
    border-radius: 10px 10px 10px 10px;
    padding: 10px 15px 10px 15px;
    height: auto;
}

.elementor-21 .elementor-element.elementor-element-897689a .bdt-field-group textarea {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-fe42b8c);
    border-radius: 10px 10px 10px 10px;
    padding: 10px 15px 10px 15px;
    height: auto;
}

.elementor-21 .elementor-element.elementor-element-897689a .bdt-field-group .bdt-input::placeholder {
    color: var(--e-global-color-text);
}

.elementor-21 .elementor-element.elementor-element-897689a .bdt-field-group textarea::placeholder {
    color: var(--e-global-color-text);
}

.elementor-21 .elementor-element.elementor-element-897689a .bdt-field-group .bdt-input,
.elementor-21 .elementor-element.elementor-element-897689a .bdt-field-group textarea {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-897689a .bdt-button {
    color: #fff;
    background-color: #47ad48;
}

.elementor-21 .elementor-element.elementor-element-897689a .bdt-button:hover span {
    color: #fff !important;
}

:root {
    --page-title-display: none;
}

@media(max-width:1024px) {
    .elementor-21 .elementor-element.elementor-element-0a3831d {
        padding: 15px 15px 15px 15px;
    }

    .elementor-21 .elementor-element.elementor-element-1cd7794 .jeg-elementor-kit.jkit-post-title {
        text-align: left;
    }

    .elementor-21 .elementor-element.elementor-element-1cd7794 .jeg-elementor-kit.jkit-post-title .post-title,
    .elementor-21 .elementor-element.elementor-element-1cd7794 .jeg-elementor-kit.jkit-post-title .post-title a {
        font-size: var(--e-global-typography-5126d72-font-size);
        line-height: var(--e-global-typography-5126d72-line-height);
        letter-spacing: var(--e-global-typography-5126d72-letter-spacing);
        word-spacing: var(--e-global-typography-5126d72-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-f2bd790>.elementor-shape-bottom svg {
        height: 21px;
    }

    .elementor-21 .elementor-element.elementor-element-f2bd790 {
        padding: 25px 25px 25px 25px;
    }

    .elementor-21 .elementor-element.elementor-element-a46aac3 .elementor-heading-title {
        font-size: var(--e-global-typography-5126d72-font-size);
        line-height: var(--e-global-typography-5126d72-line-height);
        letter-spacing: var(--e-global-typography-5126d72-letter-spacing);
        word-spacing: var(--e-global-typography-5126d72-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-7fb6eb2 .elementor-spacer-inner {
        --spacer-size: 0px;
    }

    .elementor-21 .elementor-element.elementor-element-d8b3b40 .elementor-icon-box-title,
    .elementor-21 .elementor-element.elementor-element-d8b3b40 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-d8b3b40 .elementor-icon-box-description {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-82a77c4 .elementor-icon-box-title,
    .elementor-21 .elementor-element.elementor-element-82a77c4 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-82a77c4 .elementor-icon-box-description {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-d997bd0 .elementor-icon-box-title,
    .elementor-21 .elementor-element.elementor-element-d997bd0 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-d997bd0 .elementor-icon-box-description {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-decdfd6 .elementor-heading-title {
        font-size: var(--e-global-typography-5573832-font-size);
        line-height: var(--e-global-typography-5573832-line-height);
        letter-spacing: var(--e-global-typography-5573832-letter-spacing);
        word-spacing: var(--e-global-typography-5573832-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-21 .elementor-element.elementor-element-1cd7794 .jeg-elementor-kit.jkit-post-title {
        text-align: left;
    }

    .elementor-21 .elementor-element.elementor-element-1cd7794 .jeg-elementor-kit.jkit-post-title .post-title,
    .elementor-21 .elementor-element.elementor-element-1cd7794 .jeg-elementor-kit.jkit-post-title .post-title a {
        font-size: var(--e-global-typography-5126d72-font-size);
        line-height: var(--e-global-typography-5126d72-line-height);
        letter-spacing: var(--e-global-typography-5126d72-letter-spacing);
        word-spacing: var(--e-global-typography-5126d72-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-f2bd790>.elementor-shape-bottom svg {
        height: 13px;
    }

    .elementor-21 .elementor-element.elementor-element-f2bd790 {
        padding: 15px 15px 15px 15px;
    }

    .elementor-21 .elementor-element.elementor-element-a46aac3 .elementor-heading-title {
        font-size: var(--e-global-typography-5126d72-font-size);
        line-height: var(--e-global-typography-5126d72-line-height);
        letter-spacing: var(--e-global-typography-5126d72-letter-spacing);
        word-spacing: var(--e-global-typography-5126d72-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-d8b3b40 .elementor-icon-box-title,
    .elementor-21 .elementor-element.elementor-element-d8b3b40 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-d8b3b40 .elementor-icon-box-description {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-82a77c4 .elementor-icon-box-title,
    .elementor-21 .elementor-element.elementor-element-82a77c4 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-82a77c4 .elementor-icon-box-description {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-d997bd0 .elementor-icon-box-title,
    .elementor-21 .elementor-element.elementor-element-d997bd0 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-d997bd0 .elementor-icon-box-description {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-21 .elementor-element.elementor-element-decdfd6 .elementor-heading-title {
        font-size: var(--e-global-typography-5573832-font-size);
        line-height: var(--e-global-typography-5573832-line-height);
        letter-spacing: var(--e-global-typography-5573832-letter-spacing);
        word-spacing: var(--e-global-typography-5573832-word-spacing);
    }
}