.elementor-24 .elementor-element.elementor-element-f58251b {
	padding: 50px 0px 50px 0px;
}

.elementor-24 .elementor-element.elementor-element-4b17a5a>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 35px;
}

.elementor-24 .elementor-element.elementor-element-4b17a5a>.elementor-element-populated>.elementor-widget-wrap {
	padding: 0px 35px 0px 10px;
}

.elementor-24 .elementor-element.elementor-element-8af7bb4 .jeg-elementor-kit.jkit-post-title {
	text-align: left;
}

.elementor-24 .elementor-element.elementor-element-8af7bb4 .jeg-elementor-kit.jkit-post-title .post-title,
.elementor-24 .elementor-element.elementor-element-8af7bb4 .jeg-elementor-kit.jkit-post-title .post-title a {
	font-size: var(--e-global-typography-5573832-font-size);
	font-weight: var(--e-global-typography-5573832-font-weight);
	line-height: var(--e-global-typography-5573832-line-height);
	letter-spacing: var(--e-global-typography-5573832-letter-spacing);
	word-spacing: var(--e-global-typography-5573832-word-spacing);
	text-shadow: 0px 2px 11px #000000;
}

.elementor-24 .elementor-element.elementor-element-8af7bb4 .jeg-elementor-kit.jkit-post-title .post-title.style-color,
.elementor-24 .elementor-element.elementor-element-8af7bb4 .jeg-elementor-kit.jkit-post-title .post-title.style-color a {
	color: var(--e-global-color-fe42b8c);
}

.elementor-24 .elementor-element.elementor-element-8af7bb4>.elementor-widget-container {
	padding: 20px 35px 15px 35px;
	background-color: var(--e-global-color-4d92c87);
	background-image: url("../../2022/02/flat-lay-asian-food-arrangement-.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-width: 0px 0px 0px 10px;
	border-color: #e426bd;
	border-radius: 10px 10px 10px 10px;
}

.elementor-24 .elementor-element.elementor-element-8af7bb4.bdt-background-overlay-yes>.elementor-widget-container:before {
	transition: background 0.3s;
}

.elementor-24 .elementor-element.elementor-element-8af7bb4.ha-has-bg-overlay>.elementor-widget-container:before {
	transition: background 0.3s;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-posts {
	grid-template-columns: repeat(1, minmax(0, 1fr));
	grid-column-gap: 40px;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock {
	border-radius: 10px 10px 10px 10px;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-post {
	background-color: var(--e-global-color-5d99cec);
	border-radius: 10px 10px 10px 10px;
	border-style: solid;
	border-width: 0px 0px 0px 10px;
	border-color: #e426bd;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-thumb {
	border-radius: 0px 0px 0px 0px;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock.postblock-type-1 .jkit-thumb {
	flex: 0 0 50%;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock.postblock-type-4 .jkit-thumb {
	flex: 0 0 50%;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-thumb .thumbnail-container {
	height: 250px;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-postblock-content {
	text-align: left;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-post-title a,
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock.postblock-type-4 .jkit-post-title a {
	font-size: var(--e-global-typography-5126d72-font-size);
	font-weight: var(--e-global-typography-5126d72-font-weight);
	line-height: var(--e-global-typography-5126d72-line-height);
	letter-spacing: var(--e-global-typography-5126d72-letter-spacing);
	word-spacing: var(--e-global-typography-5126d72-word-spacing);
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-post-title a {
	color: #e426bd;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-post-title a:hover {
	color: var(--e-global-color-text);
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-post-excerpt {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-post-excerpt p {
	color: var(--e-global-color-text);
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-readmore {
	font-weight: var(--e-global-typography-accent-font-weight);
	background-color: #47ad48;
	border-radius: 100px 100px 100px 100px;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-readmore.icon-position-before i,
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-readmore.icon-position-before svg {
	margin-right: 5px;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-readmore.icon-position-after i,
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-readmore.icon-position-after svg {
	margin-left: 5px;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-readmore:hover {
	background-color: #1b5e1c;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-post-meta {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
	color: var(--e-global-color-cfbcf2d);
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-post-meta svg {
	fill: var(--e-global-color-cfbcf2d);
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-author.icon-position-before i,
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-author.icon-position-before svg {
	margin-right: 5px;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-author.icon-position-after i,
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-author.icon-position-after svg {
	margin-left: 5px;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-date.icon-position-before i,
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-date.icon-position-before svg {
	margin-right: 5px;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-date.icon-position-after i,
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-date.icon-position-after svg {
	margin-left: 5px;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button a {
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button {
	width: 20%;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.icon-position-before i,
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.icon-position-before svg {
	margin-right: 5px;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.icon-position-after i,
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.icon-position-after svg {
	margin-left: 5px;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination {
	text-align: center;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button,
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button a {
	color: var(--e-global-color-983640e);
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button svg {
	fill: var(--e-global-color-983640e);
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button:not(.jkit-block-nextprev),
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.jkit-block-nextprev a {
	background-color: var(--e-global-color-4526952);
	border-radius: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-983640e);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button:hover:not(.jkit-block-nextprev),
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button:hover:not(.jkit-block-nextprev) a,
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.jkit-block-nextprev a:hover {
	color: var(--e-global-color-983640e);
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button:hover:not(.jkit-block-nextprev) svg {
	fill: var(--e-global-color-983640e);
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button:hover:not(.jkit-block-nextprev),
.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.jkit-block-nextprev a:hover {
	background-color: #47ad48;
	border-style: solid;
	border-color: #47ad48;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.jkit-block-nextprev .disabled {
	opacity: 50%;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-post-meta-bottom {
	justify-content: space-between;
}

.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jeg_empty_module {
	text-align: left;
}

.elementor-24 .elementor-element.elementor-element-5106ac6:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-24 .elementor-element.elementor-element-5106ac6>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-1d43b79);
}

.elementor-24 .elementor-element.elementor-element-5106ac6>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 10px 0px 0px;
	border-color: #e426bd;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
}

.elementor-24 .elementor-element.elementor-element-5106ac6>.elementor-element-populated,
.elementor-24 .elementor-element.elementor-element-5106ac6>.elementor-element-populated>.elementor-background-overlay,
.elementor-24 .elementor-element.elementor-element-5106ac6>.elementor-background-slideshow {
	border-radius: 10px 10px 10px 10px;
}

.elementor-24 .elementor-element.elementor-element-5106ac6>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-24 .elementor-element.elementor-element-5106ac6>.elementor-element-populated>.elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-24 .elementor-element.elementor-element-e5c1e45 .elementor-heading-title {
	color: var(--e-global-color-text);
}

.elementor-24 .elementor-element.elementor-element-e5c1e45>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-24 .elementor-element.elementor-element-da94bad.elementor-widget-bdt-search {
	text-align: center;
}

.elementor-24 .elementor-element.elementor-element-da94bad .bdt-search .bdt-search-button {
	right: 10px;
	color: var(--e-global-color-fe42b8c);
	background-color: #47ad48;
	border-radius: 50px 50px 50px 50px;
	padding: 7px 15px 7px 15px;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-24 .elementor-element.elementor-element-da94bad .bdt-search-input,
#modal-search-da94bad .bdt-search-input {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-24 .elementor-element.elementor-element-da94bad .bdt-search .bdt-search-icon svg {
	color: var(--e-global-color-text);
}

.elementor-24 .elementor-element.elementor-element-da94bad .bdt-search-input,
#modal-search-da94bad .bdt-search-icon svg {
	color: var(--e-global-color-text);
}

.elementor-24 .elementor-element.elementor-element-da94bad .bdt-search-container .bdt-search .bdt-search-input {
	background-color: var(--e-global-color-fe42b8c);
}

#modal-search-da94bad .bdt-search-container .bdt-search .bdt-search-input {
	background-color: var(--e-global-color-fe42b8c);
}

.elementor-24 .elementor-element.elementor-element-da94bad .bdt-search-input::placeholder {
	color: var(--e-global-color-text);
}

#modal-search-da94bad .bdt-search-input::placeholder {
	color: var(--e-global-color-text);
}

.elementor-24 .elementor-element.elementor-element-da94bad .bdt-search-input {
	border-radius: 50px;
	padding: 25px 25px 25px 38px;
}

#modal-search-da94bad .bdt-search-input {
	border-radius: 50px;
	padding: 25px 25px 25px 38px;
}

.elementor-24 .elementor-element.elementor-element-da94bad .bdt-search .bdt-search-button svg {
	fill: var(--e-global-color-fe42b8c);
}

.elementor-24 .elementor-element.elementor-element-da94bad .bdt-search .bdt-search-button:hover {
	background-color: #1b5e1c;
}

.elementor-24 .elementor-element.elementor-element-da94bad {
	width: 393px;
	max-width: 393px;
}

.elementor-24 .elementor-element.elementor-element-19a27a4 {
	--divider-border-style: dots_tribal;
	--divider-color: var(--e-global-color-600048b);
}

.elementor-24 .elementor-element.elementor-element-19a27a4 .elementor-divider {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-24 .elementor-element.elementor-element-9c137eb .elementor-heading-title {
	color: var(--e-global-color-text);
}

.elementor-24 .elementor-element.elementor-element-9c137eb>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-24 .elementor-element.elementor-element-1792987>.elementor-widget-container {
	background-color: var(--e-global-color-fe42b8c);
	border-radius: 10px 10px 10px 10px;
}

.elementor-24 .elementor-element.elementor-element-1792987.bdt-background-overlay-yes>.elementor-widget-container:before {
	transition: background 0.3s;
}

.elementor-24 .elementor-element.elementor-element-1792987.ha-has-bg-overlay>.elementor-widget-container:before {
	transition: background 0.3s;
}

.elementor-24 .elementor-element.elementor-element-575804a .elementor-button {
	font-weight: var(--e-global-typography-primary-font-weight);
	fill: var(--e-global-color-fe42b8c);
	color: var(--e-global-color-fe42b8c);
	background-color: #47ad48;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: var(--e-global-color-primary);
}

.elementor-24 .elementor-element.elementor-element-575804a .elementor-button:hover,
.elementor-24 .elementor-element.elementor-element-575804a .elementor-button:focus {
	color: #fff;
	background-color: #1b5e1c;
	border-color: var(--e-global-color-primary);
}
.elementor-24 .elementor-element.elementor-element-575804a .elementor-button:hover span,
.elementor-24 .elementor-element.elementor-element-575804a .elementor-button:focus span{
	color: #fff !important;
}

.elementor-24 .elementor-element.elementor-element-575804a .elementor-button:hover svg,
.elementor-24 .elementor-element.elementor-element-575804a .elementor-button:focus svg {
	fill: var(--e-global-color-fe42b8c);
}

.elementor-24 .elementor-element.elementor-element-d439a83 {
	--divider-border-style: dots_tribal;
	--divider-color: var(--e-global-color-600048b);
}

.elementor-24 .elementor-element.elementor-element-d439a83 .elementor-divider {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-24 .elementor-element.elementor-element-22deaba .swiper-wrapper {
	height: 340px;
}

.elementor-24 .elementor-element.elementor-element-22deaba .bdt-panel-slide-item:before {
	background-color: var(--e-global-color-4526952);
	transition: var(--e-global-color-4526952);
}

.elementor-24 .elementor-element.elementor-element-22deaba .bdt-panel-slide-item.swiper-slide-active:before {
	background-color: var(--e-global-color-4526952);
}

.elementor-24 .elementor-element.elementor-element-22deaba .bdt-panel-slide-item .bdt-overlay-gradient {
	background: var(--e-global-color-4526952);
}

.elementor-24 .elementor-element.elementor-element-22deaba .bdt-panel-slider .bdt-panel-slide-item .bdt-panel-slide-thumb img {
	opacity: 0;
}

.elementor-24 .elementor-element.elementor-element-22deaba .bdt-panel-slider.bdt-skin-middle .swiper-slide:not(.swiper-slide-active):hover .bdt-panel-slide-thumb img {
	opacity: 0 !important;
}

.elementor-24 .elementor-element.elementor-element-22deaba .bdt-panel-slider .bdt-panel-slide-desc {
	padding: 25px 25px 0px 25px;
}

.elementor-24 .elementor-element.elementor-element-22deaba .bdt-panel-slide-item .bdt-panel-slide-title {
	color: var(--e-global-color-fe42b8c);
	-webkit-text-stroke-color: var(--e-global-color-fe42b8c);
	font-size: var(--e-global-typography-5126d72-font-size);
	font-weight: var(--e-global-typography-5126d72-font-weight);
	line-height: var(--e-global-typography-5126d72-line-height);
	letter-spacing: var(--e-global-typography-5126d72-letter-spacing);
	word-spacing: var(--e-global-typography-5126d72-word-spacing);
}

.elementor-24 .elementor-element.elementor-element-22deaba .bdt-panel-slide-item .bdt-panel-slide-text {
	color: var(--e-global-color-fe42b8c);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-24 .elementor-element.elementor-element-22deaba .bdt-panel-slide-item .bdt-panel-slide-link {
	padding: 0px 0px 0px 0px;
	margin-top: 0px;
}

.elementor-24 .elementor-element.elementor-element-22deaba .swiper-pagination-bullet {
	background-color: var(--e-global-color-primary);
	height: 6px;
	width: 6px;
}

.elementor-24 .elementor-element.elementor-element-22deaba {
	--ep-swiper-dots-space-between: 12px;
	--ep-panel-slider-dots-nny: 15px;
}

.elementor-24 .elementor-element.elementor-element-22deaba .swiper-scrollbar {
	background: var(--e-global-color-b8f7daa);
}

.elementor-24 .elementor-element.elementor-element-22deaba .swiper-scrollbar .swiper-scrollbar-drag {
	background: var(--e-global-color-fe42b8c);
}

.elementor-24 .elementor-element.elementor-element-22deaba .swiper-container-horizontal>.swiper-scrollbar {
	height: 5px;
}

.elementor-24 .elementor-element.elementor-element-22deaba>.elementor-widget-container {
	border-radius: 10px 10px 10px 10px;
}

:root {
	--page-title-display: none;
}

@media(max-width:1024px) {
	.elementor-24 .elementor-element.elementor-element-8af7bb4 .jeg-elementor-kit.jkit-post-title {
		text-align: left;
	}

	.elementor-24 .elementor-element.elementor-element-8af7bb4 .jeg-elementor-kit.jkit-post-title .post-title,
	.elementor-24 .elementor-element.elementor-element-8af7bb4 .jeg-elementor-kit.jkit-post-title .post-title a {
		font-size: var(--e-global-typography-5573832-font-size);
		line-height: var(--e-global-typography-5573832-line-height);
		letter-spacing: var(--e-global-typography-5573832-letter-spacing);
		word-spacing: var(--e-global-typography-5573832-word-spacing);
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-posts {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		grid-column-gap: 40px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-thumb {
		border-radius: 0px 10px 0px 0px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-thumb .thumbnail-container {
		height: 150px;
		border-radius: 0px 0px 0px 0px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-postblock-content {
		text-align: left;
		padding: 25px 25px 25px 25px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-post-title a,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock.postblock-type-4 .jkit-post-title a {
		font-size: var(--e-global-typography-5126d72-font-size);
		line-height: var(--e-global-typography-5126d72-line-height);
		letter-spacing: var(--e-global-typography-5126d72-letter-spacing);
		word-spacing: var(--e-global-typography-5126d72-word-spacing);
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-readmore.icon-position-before i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-readmore.icon-position-before svg {
		margin-right: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-readmore.icon-position-after i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-readmore.icon-position-after svg {
		margin-left: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-author.icon-position-before i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-author.icon-position-before svg {
		margin-right: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-author.icon-position-after i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-author.icon-position-after svg {
		margin-left: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-date.icon-position-before i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-date.icon-position-before svg {
		margin-right: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-date.icon-position-after i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-date.icon-position-after svg {
		margin-left: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button {
		width: 100%;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.icon-position-before i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.icon-position-before svg {
		margin-right: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.icon-position-after i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.icon-position-after svg {
		margin-left: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination {
		text-align: center;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-post-meta-bottom {
		justify-content: space-between;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jeg_empty_module {
		text-align: left;
	}

	.elementor-24 .elementor-element.elementor-element-22deaba .bdt-panel-slide-item .bdt-panel-slide-title {
		font-size: var(--e-global-typography-5126d72-font-size);
		line-height: var(--e-global-typography-5126d72-line-height);
		letter-spacing: var(--e-global-typography-5126d72-letter-spacing);
		word-spacing: var(--e-global-typography-5126d72-word-spacing);
	}

	.elementor-24 .elementor-element.elementor-element-22deaba {
		--ep-panel-slider-dots-nnx: 0px;
		--ep-panel-slider-dots-nny: 30px;
	}
}

@media(max-width:767px) {
	.elementor-24 .elementor-element.elementor-element-f58251b {
		padding: 15px 15px 15px 15px;
	}

	.elementor-24 .elementor-element.elementor-element-4b17a5a>.elementor-element-populated>.elementor-widget-wrap {
		padding: 10px 10px 10px 10px;
	}

	.elementor-24 .elementor-element.elementor-element-8af7bb4 .jeg-elementor-kit.jkit-post-title {
		text-align: left;
	}

	.elementor-24 .elementor-element.elementor-element-8af7bb4 .jeg-elementor-kit.jkit-post-title .post-title,
	.elementor-24 .elementor-element.elementor-element-8af7bb4 .jeg-elementor-kit.jkit-post-title .post-title a {
		font-size: var(--e-global-typography-5573832-font-size);
		line-height: var(--e-global-typography-5573832-line-height);
		letter-spacing: var(--e-global-typography-5573832-letter-spacing);
		word-spacing: var(--e-global-typography-5573832-word-spacing);
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-posts {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		grid-column-gap: 40px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-thumb .thumbnail-container {
		height: 300px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-postblock-content {
		text-align: left;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-post-title a,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock.postblock-type-4 .jkit-post-title a {
		font-size: var(--e-global-typography-5126d72-font-size);
		line-height: var(--e-global-typography-5126d72-line-height);
		letter-spacing: var(--e-global-typography-5126d72-letter-spacing);
		word-spacing: var(--e-global-typography-5126d72-word-spacing);
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-readmore.icon-position-before i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-readmore.icon-position-before svg {
		margin-right: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-readmore.icon-position-after i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-readmore.icon-position-after svg {
		margin-left: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-author.icon-position-before i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-author.icon-position-before svg {
		margin-right: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-author.icon-position-after i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-author.icon-position-after svg {
		margin-left: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-date.icon-position-before i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-date.icon-position-before svg {
		margin-right: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-date.icon-position-after i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-meta-date.icon-position-after svg {
		margin-left: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button {
		width: 100%;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.icon-position-before i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.icon-position-before svg {
		margin-right: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.icon-position-after i,
	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination .jkit-pagination-button.icon-position-after svg {
		margin-left: 5px;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-block-pagination {
		text-align: center;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jkit-post-meta-bottom {
		justify-content: space-between;
	}

	.elementor-24 .elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock .jeg_empty_module {
		text-align: left;
	}

	.elementor-24 .elementor-element.elementor-element-22deaba .bdt-panel-slide-item .bdt-panel-slide-title {
		font-size: var(--e-global-typography-5126d72-font-size);
		line-height: var(--e-global-typography-5126d72-line-height);
		letter-spacing: var(--e-global-typography-5126d72-letter-spacing);
		word-spacing: var(--e-global-typography-5126d72-word-spacing);
	}

	.elementor-24 .elementor-element.elementor-element-22deaba {
		--ep-panel-slider-dots-nnx: 0px;
		--ep-panel-slider-dots-nny: 30px;
	}
}

@media (max-width: 1024px) {
	.elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock.postblock-type-1 .jkit-post {
		display: block;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
}

@media (max-width: 1024px) {
	.elementor-element.elementor-element-68a99f8 .jeg-elementor-kit.jkit-postblock.postblock-type-1 .jkit-thumb {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		max-width: 100%;
	}
}