.elementor-2780 .elementor-element.elementor-element-dd99da0>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-2780 .elementor-element.elementor-element-dd99da0:not(.elementor-motion-effects-element-type-background),
.elementor-2780 .elementor-element.elementor-element-dd99da0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #fff;
}

.elementor-2780 .elementor-element.elementor-element-dd99da0 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2780 .elementor-element.elementor-element-dd99da0>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2780 .elementor-element.elementor-element-183dbb7>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-2780 .elementor-element.elementor-element-276eddc>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2780 .elementor-element.elementor-element-276eddc {
	width: 200px;
	align-self: center;
}

.elementor-2780 .elementor-element.elementor-element-12e2e05 .elementor-heading-title {
	color: #47ad48;
	font-family: var(--e-global-typography-7201dac-font-family), Sans-serif;
	font-size: var(--e-global-typography-7201dac-font-size);
	font-weight: var(--e-global-typography-7201dac-font-weight);
	line-height: var(--e-global-typography-7201dac-line-height);
	letter-spacing: var(--e-global-typography-7201dac-letter-spacing);
	word-spacing: var(--e-global-typography-7201dac-word-spacing);
}

.elementor-2780 .elementor-element.elementor-element-12e2e05>.elementor-widget-container {
	margin: 0px 0px 0px 5px;
}

.elementor-2780 .elementor-element.elementor-element-12e2e05 {
	width: auto;
	max-width: auto;
	align-self: center;
}

.elementor-2780 .elementor-element.elementor-element-83776b6.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-fe42b8c);
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
}

.elementor-2780 .elementor-element.elementor-element-83776b6.elementor-view-framed .elementor-icon,
.elementor-2780 .elementor-element.elementor-element-83776b6.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-fe42b8c);
	color: var(--e-global-color-fe42b8c);
	border-color: var(--e-global-color-fe42b8c);
}

.elementor-2780 .elementor-element.elementor-element-83776b6.elementor-view-framed .elementor-icon {
	background-color: var(--e-global-color-primary);
}

.elementor-2780 .elementor-element.elementor-element-83776b6 {
	--icon-box-icon-margin: 5px;
}

.elementor-2780 .elementor-element.elementor-element-83776b6 .elementor-icon {
	font-size: 29px;
}

.elementor-2780 .elementor-element.elementor-element-83776b6 .elementor-icon-box-title {
	margin-bottom: 5px;
	color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-83776b6 .elementor-icon-box-title,
.elementor-2780 .elementor-element.elementor-element-83776b6 .elementor-icon-box-title a {
	font-family: "Bree Serif", Sans-serif;
	font-size: 37px;
	font-weight: 400;
}

.elementor-bc-flex-widget .elementor-2780 .elementor-element.elementor-element-e2d14ce.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-2780 .elementor-element.elementor-element-e2d14ce.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-2780 .elementor-element.elementor-element-e2d14ce.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-menu-container {
	height: 50px;
	border-radius: 0px 0px 0px 0px;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a {
	font-size: var(--e-global-typography-edeeeb0-font-size);
	font-weight: var(--e-global-typography-edeeeb0-font-weight);
	line-height: var(--e-global-typography-edeeeb0-line-height);
	letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
	word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
	color: #e426bd;
	padding: 0px 15px 0px 15px;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:hover {
	color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:focus {
	color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:active {
	color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li:hover>a {
	color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
	color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
	color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
	color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
	color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li.current-menu-item>a {
	color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li.current-menu-ancestor>a {
	color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
	color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
	color: var(--e-global-color-fe42b8c);
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
	font-size: var(--e-global-typography-edeeeb0-font-size);
	font-weight: var(--e-global-typography-edeeeb0-font-weight);
	line-height: var(--e-global-typography-edeeeb0-line-height);
	letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
	word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
	padding: 10px 15px 10px 15px;
	color: #000000;
	background-color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
	color: var(--e-global-color-fe42b8c);
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
	color: var(--e-global-color-fe42b8c);
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
	color: var(--e-global-color-fe42b8c);
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
	color: var(--e-global-color-fe42b8c);
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover,
.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus,
.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active,
.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
	background-color: var(--e-global-color-text);
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
	color: var(--e-global-color-fe42b8c);
	background-color: var(--e-global-color-983640e);
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-submenu-panel {
	padding: 10px 0px 10px 0px;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #47ad48;
	background-color: #47ad48;
	border-radius: 15px 15px 15px 15px;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-menu-hamburger {
	float: right;
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
	background-color: var(--e-global-color-983640e);
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-menu-hamburger>.ekit-menu-icon {
	color: var(--e-global-color-983640e);
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
	background-color: var(--e-global-color-983640e);
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-menu-hamburger:hover>.ekit-menu-icon {
	color: var(--e-global-color-983640e);
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-menu-close {
	background-color: var(--e-global-color-418324e);
	border-style: solid;
	border-color: var(--e-global-color-fe42b8c);
	color: var(--e-global-color-983640e);
}

.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-menu-close:hover {
	background-color: #47ad48;
	color: var(--e-global-color-983640e);
}

.elementor-2780 .elementor-element.elementor-element-04e50ec.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
	justify-content: flex-end;
}

.elementor-2780 .elementor-element.elementor-element-04e50ec>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-2780 .elementor-element.elementor-element-3e047f7 .elementor-button {
	font-weight: var(--e-global-typography-primary-font-weight);
	padding: 10px 15px 10px 15px;
	color: #fff !important;
}
.elementor-button span{
	color: #fff;
}
.elementor-button:hover span{
	color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-3e047f7 .elementor-button:hover,
.elementor-2780 .elementor-element.elementor-element-3e047f7 .elementor-button:focus {
	color: #47ad48;
	background-color: var(--e-global-color-4526952);
}

.elementor-2780 .elementor-element.elementor-element-3e047f7 .elementor-button:hover svg,
.elementor-2780 .elementor-element.elementor-element-3e047f7 .elementor-button:focus svg {
	fill: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-3e047f7 {
	width: auto;
	max-width: auto;
}

.elementor-2780 .elementor-element.elementor-element-2b1e922 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-2780 .elementor-element.elementor-element-2b1e922.elementor-view-stacked .elementor-icon {
	background-color: #47ad48;
	color: var(--e-global-color-text);
}

.elementor-2780 .elementor-element.elementor-element-2b1e922.elementor-view-framed .elementor-icon,
.elementor-2780 .elementor-element.elementor-element-2b1e922.elementor-view-default .elementor-icon {
	color: #47ad48;
	border-color: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-2b1e922.elementor-view-framed .elementor-icon,
.elementor-2780 .elementor-element.elementor-element-2b1e922.elementor-view-default .elementor-icon svg {
	fill: #47ad48;
}

.elementor-2780 .elementor-element.elementor-element-2b1e922.elementor-view-framed .elementor-icon {
	background-color: var(--e-global-color-text);
}

.elementor-2780 .elementor-element.elementor-element-2b1e922.elementor-view-stacked .elementor-icon svg {
	fill: var(--e-global-color-text);
}

.elementor-2780 .elementor-element.elementor-element-2b1e922 .elementor-icon {
	font-size: 26px;
}

.elementor-2780 .elementor-element.elementor-element-2b1e922 .elementor-icon i,
.elementor-2780 .elementor-element.elementor-element-2b1e922 .elementor-icon svg {
	transform: rotate(0deg);
}

@media(max-width:1024px) {
	.elementor-2780 .elementor-element.elementor-element-12e2e05 .elementor-heading-title {
		font-size: var(--e-global-typography-7201dac-font-size);
		line-height: var(--e-global-typography-7201dac-line-height);
		letter-spacing: var(--e-global-typography-7201dac-letter-spacing);
		word-spacing: var(--e-global-typography-7201dac-word-spacing);
	}

	.elementor-2780 .elementor-element.elementor-element-83776b6 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-2780 .elementor-element.elementor-element-e2d14ce.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
		justify-content: flex-end;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-menu-container {
		background-color: var(--e-global-color-primary);
		max-width: 250px;
		border-radius: 0px 0px 0px 0px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-nav-identity-panel {
		padding: 10px 0px 10px 0px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav li a .ekit-menu-icon {
		padding: 0px 0px 0px 0px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a {
		font-size: var(--e-global-typography-edeeeb0-font-size);
		line-height: var(--e-global-typography-edeeeb0-line-height);
		letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
		word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
		color: var(--e-global-color-fe42b8c);
		padding: 10px 15px 10px 15px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:hover {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:focus {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:active {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li:hover>a {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
		font-size: var(--e-global-typography-edeeeb0-font-size);
		line-height: var(--e-global-typography-edeeeb0-line-height);
		letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
		word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
		padding: 15px 15px 15px 15px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-submenu-panel {
		padding: 0px 0px 0px 0px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel {
		border-width: 0px 0px 0px 0px;
		border-radius: 0px 0px 0px 0px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-menu-hamburger {
		padding: 10px 10px 10px 10px;
		width: 45px;
		border-radius: 3px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-menu-close {
		padding: 0px 0px 0px 0px;
		margin: 12px 12px 12px 12px;
		width: 25px;
		border-radius: 5px;
		border-width: 0px 0px 0px 0px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-nav-logo>img {
		max-width: 160px;
		max-height: 60px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-nav-logo {
		margin: 5px 0px 5px 0px;
		padding: 5px 5px 5px 5px;
	}

	.elementor-2780 .elementor-element.elementor-element-04e50ec.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
		justify-content: flex-end;
	}
}

@media(min-width:768px) {
	.elementor-2780 .elementor-element.elementor-element-183dbb7 {
		width: 23.754%;
	}

	.elementor-2780 .elementor-element.elementor-element-e2d14ce {
		width: 53.578%;
	}

	.elementor-2780 .elementor-element.elementor-element-04e50ec {
		width: 22%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-2780 .elementor-element.elementor-element-183dbb7 {
		width: 33%;
	}

	.elementor-2780 .elementor-element.elementor-element-e2d14ce {
		width: 47%;
	}

	.elementor-2780 .elementor-element.elementor-element-04e50ec {
		width: 20%;
	}
}

@media(max-width:767px) {
	.elementor-2780 .elementor-element.elementor-element-183dbb7 {
		width: 20%;
	}

	.elementor-2780 .elementor-element.elementor-element-12e2e05 .elementor-heading-title {
		font-size: var(--e-global-typography-7201dac-font-size);
		line-height: var(--e-global-typography-7201dac-line-height);
		letter-spacing: var(--e-global-typography-7201dac-letter-spacing);
		word-spacing: var(--e-global-typography-7201dac-word-spacing);
	}

	.elementor-2780 .elementor-element.elementor-element-83776b6 {
		--icon-box-icon-margin: 0px;
	}

	.elementor-2780 .elementor-element.elementor-element-83776b6 .elementor-icon {
		font-size: 21px;
	}

	.elementor-2780 .elementor-element.elementor-element-83776b6 .elementor-icon-box-title {
		margin-bottom: -5px;
	}

	.elementor-2780 .elementor-element.elementor-element-83776b6>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2780 .elementor-element.elementor-element-e2d14ce {
		width: 59%;
	}

	.elementor-2780 .elementor-element.elementor-element-e2d14ce>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: 0px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-menu-container {
		background-color: var(--e-global-color-primary);
		max-width: 200px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a {
		font-size: var(--e-global-typography-edeeeb0-font-size);
		line-height: var(--e-global-typography-edeeeb0-line-height);
		letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
		word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
		color: var(--e-global-color-fe42b8c);
		padding: 10px 10px 10px 10px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:hover {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:focus {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:active {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li:hover>a {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li.current-menu-item>a {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li.current-menu-ancestor>a {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
		color: #47ad48;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
		font-size: var(--e-global-typography-edeeeb0-font-size);
		line-height: var(--e-global-typography-edeeeb0-line-height);
		letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
		word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-submenu-panel {
		padding: 0px 0px 0px 0px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-navbar-nav .elementskit-submenu-panel {
		border-width: 0px 0px 0px 0px;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-menu-hamburger {
		float: right;
	}

	.elementor-2780 .elementor-element.elementor-element-8267e5c .elementskit-nav-logo {
		padding: 0px 0px 0px 0px;
	}

	.elementor-2780 .elementor-element.elementor-element-04e50ec {
		width: 20%;
	}

	.elementor-2780 .elementor-element.elementor-element-2b1e922 .elementor-icon {
		font-size: 21px;
	}

	.elementor-2780 .elementor-element.elementor-element-2b1e922>.elementor-widget-container {
		margin: 0px 0px -5px 0px;
	}
}