.elementor-2787 .elementor-element.elementor-element-9d8d7ae>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2787 .elementor-element.elementor-element-9d8d7ae:not(.elementor-motion-effects-element-type-background),
.elementor-2787 .elementor-element.elementor-element-9d8d7ae>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #47ad48;
}

.elementor-2787 .elementor-element.elementor-element-9d8d7ae {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 25px 0px;
}

.elementor-2787 .elementor-element.elementor-element-9d8d7ae>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2787 .elementor-element.elementor-element-9d8d7ae>.elementor-shape-top svg {
    height: 39px;
}

.elementor-2787 .elementor-element.elementor-element-f06aac8>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 5px;
}

.elementor-2787 .elementor-element.elementor-element-fa10bb2.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}

.elementor-2787 .elementor-element.elementor-element-fa10bb2.elementor-view-framed .elementor-icon,
.elementor-2787 .elementor-element.elementor-element-fa10bb2.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-2787 .elementor-element.elementor-element-fa10bb2.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-fe42b8c);
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
}

.elementor-2787 .elementor-element.elementor-element-fa10bb2.elementor-view-framed .elementor-icon:hover,
.elementor-2787 .elementor-element.elementor-element-fa10bb2.elementor-view-default .elementor-icon:hover {
    fill: var(--e-global-color-fe42b8c);
    color: var(--e-global-color-fe42b8c);
    border-color: var(--e-global-color-fe42b8c);
}

.elementor-2787 .elementor-element.elementor-element-fa10bb2.elementor-view-framed .elementor-icon:hover {
    background-color: var(--e-global-color-primary);
}

.elementor-2787 .elementor-element.elementor-element-fa10bb2 {
    --icon-box-icon-margin: 15px;
}

.elementor-2787 .elementor-element.elementor-element-fa10bb2 .elementor-icon {
    font-size: 29px;
}

.elementor-2787 .elementor-element.elementor-element-fa10bb2 .elementor-icon-box-title {
    margin-bottom: 12px;
    color: #fff;
}

.elementor-2787 .elementor-element.elementor-element-fa10bb2 .elementor-icon-box-title,
.elementor-2787 .elementor-element.elementor-element-fa10bb2 .elementor-icon-box-title a {
    font-size: var(--e-global-typography-6c4f830-font-size);
    font-weight: var(--e-global-typography-6c4f830-font-weight);
    text-transform: var(--e-global-typography-6c4f830-text-transform);
    line-height: var(--e-global-typography-6c4f830-line-height);
    letter-spacing: var(--e-global-typography-6c4f830-letter-spacing);
    word-spacing: var(--e-global-typography-6c4f830-word-spacing);
}

.elementor-2787 .elementor-element.elementor-element-fa10bb2 .elementor-icon-box-description {
    color: var(--e-global-color-fe42b8c);
    font-size: var(--e-global-typography-edeeeb0-font-size);
    font-weight: var(--e-global-typography-edeeeb0-font-weight);
    line-height: var(--e-global-typography-edeeeb0-line-height);
    letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
    word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
}

.elementor-2787 .elementor-element.elementor-element-fa10bb2>.elementor-widget-container {
    padding: 15px 15px 15px 15px;
    background-color: #2a772c;
    border-radius: 10px 10px 10px 10px;
}

.elementor-2787 .elementor-element.elementor-element-fa10bb2.bdt-background-overlay-yes>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-2787 .elementor-element.elementor-element-fa10bb2.ha-has-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-2787 .elementor-element.elementor-element-0b5bc0c:not(.elementor-motion-effects-element-type-background),
.elementor-2787 .elementor-element.elementor-element-0b5bc0c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #89c887;
}

.elementor-2787 .elementor-element.elementor-element-0b5bc0c,
.elementor-2787 .elementor-element.elementor-element-0b5bc0c>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-2787 .elementor-element.elementor-element-0b5bc0c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 13px 15px 13px 15px;
}

.elementor-2787 .elementor-element.elementor-element-0b5bc0c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2787 .elementor-element.elementor-element-16b3951>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #2a772c;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2787 .elementor-element.elementor-element-16b3951>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2787 .elementor-element.elementor-element-9c62b50.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-fe42b8c);
}

.elementor-2787 .elementor-element.elementor-element-9c62b50.elementor-view-framed .elementor-icon,
.elementor-2787 .elementor-element.elementor-element-9c62b50.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-fe42b8c);
    color: var(--e-global-color-fe42b8c);
    border-color: var(--e-global-color-fe42b8c);
}

.elementor-2787 .elementor-element.elementor-element-9c62b50 {
    --icon-box-icon-margin: 15px;
}

.elementor-2787 .elementor-element.elementor-element-9c62b50 .elementor-icon-box-title {
    color: var(--e-global-color-fe42b8c);
}

.elementor-2787 .elementor-element.elementor-element-9c62b50 .elementor-icon-box-title,
.elementor-2787 .elementor-element.elementor-element-9c62b50 .elementor-icon-box-title a {
    font-size: var(--e-global-typography-eb4ed3b-font-size);
    font-weight: var(--e-global-typography-eb4ed3b-font-weight);
    line-height: var(--e-global-typography-eb4ed3b-line-height);
    letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
    word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
}

.elementor-2787 .elementor-element.elementor-element-9c62b50 .elementor-icon-box-description {
    color: var(--e-global-color-fe42b8c);
    font-size: var(--e-global-typography-eb4ed3b-font-size);
    font-weight: var(--e-global-typography-eb4ed3b-font-weight);
    line-height: var(--e-global-typography-eb4ed3b-line-height);
    letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
    word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
}

.elementor-2787 .elementor-element.elementor-element-9c4b3a5.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-fe42b8c);
}

.elementor-2787 .elementor-element.elementor-element-9c4b3a5.elementor-view-framed .elementor-icon,
.elementor-2787 .elementor-element.elementor-element-9c4b3a5.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-fe42b8c);
    color: var(--e-global-color-fe42b8c);
    border-color: var(--e-global-color-fe42b8c);
}

.elementor-2787 .elementor-element.elementor-element-9c4b3a5 {
    --icon-box-icon-margin: 15px;
}

.elementor-2787 .elementor-element.elementor-element-9c4b3a5 .elementor-icon-box-title {
    color: var(--e-global-color-fe42b8c);
}

.elementor-2787 .elementor-element.elementor-element-9c4b3a5 .elementor-icon-box-title,
.elementor-2787 .elementor-element.elementor-element-9c4b3a5 .elementor-icon-box-title a {
    font-size: var(--e-global-typography-eb4ed3b-font-size);
    font-weight: var(--e-global-typography-eb4ed3b-font-weight);
    line-height: var(--e-global-typography-eb4ed3b-line-height);
    letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
    word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
}

.elementor-2787 .elementor-element.elementor-element-9c4b3a5 .elementor-icon-box-description {
    color: var(--e-global-color-fe42b8c);
    font-size: var(--e-global-typography-eb4ed3b-font-size);
    font-weight: var(--e-global-typography-eb4ed3b-font-weight);
    line-height: var(--e-global-typography-eb4ed3b-line-height);
    letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
    word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
}

.elementor-2787 .elementor-element.elementor-element-7a7c095:not(.elementor-motion-effects-element-type-background),
.elementor-2787 .elementor-element.elementor-element-7a7c095>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #47ad48;
}

.elementor-2787 .elementor-element.elementor-element-7a7c095 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var(--e-global-color-03edc69);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 0px 50px 0px;
}

.elementor-2787 .elementor-element.elementor-element-7a7c095>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2787 .elementor-element.elementor-element-02551ff .elementor-heading-title {
    color: var(--e-global-color-fe42b8c);
    font-size: var(--e-global-typography-30107de-font-size);
    font-weight: var(--e-global-typography-30107de-font-weight);
    text-transform: var(--e-global-typography-30107de-text-transform);
    line-height: var(--e-global-typography-30107de-line-height);
    letter-spacing: var(--e-global-typography-30107de-letter-spacing);
    word-spacing: var(--e-global-typography-30107de-word-spacing);
}

.elementor-2787 .elementor-element.elementor-element-37d7dd6 {
    color: var(--e-global-color-fe42b8c);
}

.elementor-2787 .elementor-element.elementor-element-ce0a97a .elementor-heading-title {
    color: var(--e-global-color-fe42b8c);
    font-size: var(--e-global-typography-30107de-font-size);
    font-weight: var(--e-global-typography-30107de-font-weight);
    text-transform: var(--e-global-typography-30107de-text-transform);
    line-height: var(--e-global-typography-30107de-line-height);
    letter-spacing: var(--e-global-typography-30107de-letter-spacing);
    word-spacing: var(--e-global-typography-30107de-word-spacing);
}

.elementor-2787 .elementor-element.elementor-element-b16d22a {
    text-align: left;
}

.elementor-2787 .elementor-element.elementor-element-b16d22a img {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-fe42b8c);
    border-radius: 10px 10px 10px 10px;
}

.elementor-2787 .elementor-element.elementor-element-7b27ca0 {
    text-align: left;
}

.elementor-2787 .elementor-element.elementor-element-7b27ca0 img {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-fe42b8c);
    border-radius: 10px 10px 10px 10px;
}

.elementor-2787 .elementor-element.elementor-element-874a4ae .elementor-heading-title {
    color: var(--e-global-color-fe42b8c);
    font-size: var(--e-global-typography-30107de-font-size);
    font-weight: var(--e-global-typography-30107de-font-weight);
    text-transform: var(--e-global-typography-30107de-text-transform);
    line-height: var(--e-global-typography-30107de-line-height);
    letter-spacing: var(--e-global-typography-30107de-letter-spacing);
    word-spacing: var(--e-global-typography-30107de-word-spacing);
}

.elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(7px/2);
}

.elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(7px/2);
}

.elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(7px/2);
    margin-left: calc(7px/2);
}

.elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-7px/2);
    margin-left: calc(-7px/2);
}

body.rtl .elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-7px/2);
}

body:not(.rtl) .elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-7px/2);
}

.elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-icon i {
    color: #e426bd;
}

.elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-icon svg {
    fill: var(--e-global-color-4d92c87);
}

.elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var(--e-global-color-4d92c87);
}

.elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-4d92c87);
}

.elementor-2787 .elementor-element.elementor-element-705646c {
    --e-icon-list-icon-size: 15px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
}

.elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-text {
    color: var(--e-global-color-fe42b8c);
    padding-left: 0px;
}

.elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #fff;
}

.elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2787 .elementor-element.elementor-element-705646c .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-2787 .elementor-element.elementor-element-dddf8d1 .elementor-heading-title {
    color: var(--e-global-color-fe42b8c);
    font-size: var(--e-global-typography-30107de-font-size);
    font-weight: var(--e-global-typography-30107de-font-weight);
    text-transform: var(--e-global-typography-30107de-text-transform);
    line-height: var(--e-global-typography-30107de-line-height);
    letter-spacing: var(--e-global-typography-30107de-letter-spacing);
    word-spacing: var(--e-global-typography-30107de-word-spacing);
}

.elementor-2787 .elementor-element.elementor-element-834b672 .ekit_wpForms_container .wpforms-field label {
    color: var(--e-global-color-text);
}

.elementor-2787 .elementor-element.elementor-element-834b672 .ekit_wpForms_container .wpforms-field input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.elementor-2787 .elementor-element.elementor-element-834b672 .ekit_wpForms_container .wpforms-field textarea,
.elementor-2787 .elementor-element.elementor-element-834b672 .ekit_wpForms_container .wpforms-field select {
    background-color: var(--e-global-color-fe42b8c);
    color: var(--e-global-color-983640e);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: var(--e-global-color-text);
    border-radius: 50px 50px 50px 50px;
    padding: 10px 20px 10px 20px;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-2787 .elementor-element.elementor-element-834b672 .ekit_wpForms_container .wpforms-field input::-webkit-input-placeholder,
.elementor-2787 .elementor-element.elementor-element-834b672 .ekit_wpForms_container .wpforms-field textarea::-webkit-input-placeholder {
    color: var(--e-global-color-text);
}

.elementor-2787 .elementor-element.elementor-element-834b672 .ekit_wpForms_container .wpforms-submit-container .wpforms-submit {
    width: 50%;
    font-weight: var(--e-global-typography-accent-font-weight);
    background-color: #e426bd;
    color: #fff;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 50px 50px 50px 50px;
    padding: 9px 9px 9px 9px;
}

.elementor-2787 .elementor-element.elementor-element-834b672 .ekit_wpForms_container .wpforms-submit-container .wpforms-submit:hover {
    background-color: #e426be8e;
    color: #fff;
}

.elementor-2787 .elementor-element.elementor-element-b3da97a {
    color: var(--e-global-color-fe42b8c);
}

.elementor-2787 .elementor-element.elementor-element-c59ce32>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2787 .elementor-element.elementor-element-c59ce32:not(.elementor-motion-effects-element-type-background),
.elementor-2787 .elementor-element.elementor-element-c59ce32>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #47ad48;
}

.elementor-2787 .elementor-element.elementor-element-c59ce32 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 0px 10px 0px;
}

.elementor-2787 .elementor-element.elementor-element-c59ce32>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2787 .elementor-element.elementor-element-56280ce>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2787 .elementor-element.elementor-element-ec0986f .elementor-heading-title {
    color: var(--e-global-color-fe42b8c);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-2787 .elementor-element.elementor-element-c61f682 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 14px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-2787 .elementor-element.elementor-element-c61f682 .elementor-widget-container {
    text-align: right;
}

.elementor-2787 .elementor-element.elementor-element-c61f682 .elementor-social-icon {
    background-color: #e426bd;
}

.elementor-2787 .elementor-element.elementor-element-c61f682 .elementor-social-icon i {
    color: var(--e-global-color-fe42b8c);
}

.elementor-2787 .elementor-element.elementor-element-c61f682 .elementor-social-icon svg {
    fill: var(--e-global-color-fe42b8c);
}

.elementor-2787 .elementor-element.elementor-element-c61f682 .elementor-social-icon:hover {
    background-color: #47ad48;
}

.elementor-2787 .elementor-element.elementor-element-c61f682 .elementor-social-icon:hover i {
    color: #e426bd;
}

.elementor-2787 .elementor-element.elementor-element-c61f682 .elementor-social-icon:hover svg {
    fill: var(--e-global-color-983640e);
}

@media(min-width:768px) {
    .elementor-2787 .elementor-element.elementor-element-f06aac8 {
        width: 25%;
    }

    .elementor-2787 .elementor-element.elementor-element-971b493 {
        width: 75%;
    }

    .elementor-2787 .elementor-element.elementor-element-8095cf6 {
        width: 24.56%;
    }

    .elementor-2787 .elementor-element.elementor-element-3183de0 {
        width: 8.191%;
    }

    .elementor-2787 .elementor-element.elementor-element-2c07205 {
        width: 20.616%;
    }

    .elementor-2787 .elementor-element.elementor-element-956d491 {
        width: 18.591%;
    }

    .elementor-2787 .elementor-element.elementor-element-434f544 {
        width: 27.983%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2787 .elementor-element.elementor-element-f06aac8 {
        width: 43%;
    }

    .elementor-2787 .elementor-element.elementor-element-971b493 {
        width: 57%;
    }

    .elementor-2787 .elementor-element.elementor-element-16b3951 {
        width: 100%;
    }

    .elementor-2787 .elementor-element.elementor-element-2812194 {
        width: 100%;
    }

    .elementor-2787 .elementor-element.elementor-element-8095cf6 {
        width: 50%;
    }

    .elementor-2787 .elementor-element.elementor-element-2c07205 {
        width: 50%;
    }

    .elementor-2787 .elementor-element.elementor-element-956d491 {
        width: 50%;
    }

    .elementor-2787 .elementor-element.elementor-element-434f544 {
        width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-2787 .elementor-element.elementor-element-9d8d7ae>.elementor-shape-top svg {
        height: 13px;
    }

    .elementor-2787 .elementor-element.elementor-element-9d8d7ae {
        padding: 25px 25px 25px 25px;
    }

    .elementor-bc-flex-widget .elementor-2787 .elementor-element.elementor-element-f06aac8.elementor-column .elementor-column-wrap {
        align-items: flex-start;
    }

    .elementor-2787 .elementor-element.elementor-element-f06aac8.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: flex-start;
        align-items: flex-start;
    }

    .elementor-2787 .elementor-element.elementor-element-fa10bb2 .elementor-icon-box-title,
    .elementor-2787 .elementor-element.elementor-element-fa10bb2 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-6c4f830-font-size);
        line-height: var(--e-global-typography-6c4f830-line-height);
        letter-spacing: var(--e-global-typography-6c4f830-letter-spacing);
        word-spacing: var(--e-global-typography-6c4f830-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-fa10bb2 .elementor-icon-box-description {
        font-size: var(--e-global-typography-edeeeb0-font-size);
        line-height: var(--e-global-typography-edeeeb0-line-height);
        letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
        word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-16b3951>.elementor-element-populated {
        border-width: 0px 0px 2px 0px;
    }

    .elementor-2787 .elementor-element.elementor-element-9c62b50 .elementor-icon-box-title,
    .elementor-2787 .elementor-element.elementor-element-9c62b50 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-9c62b50 .elementor-icon-box-description {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-9c4b3a5 .elementor-icon-box-title,
    .elementor-2787 .elementor-element.elementor-element-9c4b3a5 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-9c4b3a5 .elementor-icon-box-description {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-7a7c095 {
        padding: 25px 25px 25px 25px;
    }

    .elementor-2787 .elementor-element.elementor-element-02551ff .elementor-heading-title {
        font-size: var(--e-global-typography-30107de-font-size);
        line-height: var(--e-global-typography-30107de-line-height);
        letter-spacing: var(--e-global-typography-30107de-letter-spacing);
        word-spacing: var(--e-global-typography-30107de-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-ce0a97a .elementor-heading-title {
        font-size: var(--e-global-typography-30107de-font-size);
        line-height: var(--e-global-typography-30107de-line-height);
        letter-spacing: var(--e-global-typography-30107de-letter-spacing);
        word-spacing: var(--e-global-typography-30107de-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-874a4ae .elementor-heading-title {
        font-size: var(--e-global-typography-30107de-font-size);
        line-height: var(--e-global-typography-30107de-line-height);
        letter-spacing: var(--e-global-typography-30107de-letter-spacing);
        word-spacing: var(--e-global-typography-30107de-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-dddf8d1 .elementor-heading-title {
        font-size: var(--e-global-typography-30107de-font-size);
        line-height: var(--e-global-typography-30107de-line-height);
        letter-spacing: var(--e-global-typography-30107de-letter-spacing);
        word-spacing: var(--e-global-typography-30107de-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-c59ce32 {
        padding: 0px 25px 0px 25px;
    }
}

@media(max-width:767px) {

    .elementor-2787 .elementor-element.elementor-element-fa10bb2 .elementor-icon-box-title,
    .elementor-2787 .elementor-element.elementor-element-fa10bb2 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-6c4f830-font-size);
        line-height: var(--e-global-typography-6c4f830-line-height);
        letter-spacing: var(--e-global-typography-6c4f830-letter-spacing);
        word-spacing: var(--e-global-typography-6c4f830-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-fa10bb2 .elementor-icon-box-description {
        font-size: var(--e-global-typography-edeeeb0-font-size);
        line-height: var(--e-global-typography-edeeeb0-line-height);
        letter-spacing: var(--e-global-typography-edeeeb0-letter-spacing);
        word-spacing: var(--e-global-typography-edeeeb0-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-9c62b50 {
        --icon-box-icon-margin: 15px;
    }

    .elementor-2787 .elementor-element.elementor-element-9c62b50 .elementor-icon-box-title,
    .elementor-2787 .elementor-element.elementor-element-9c62b50 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-9c62b50 .elementor-icon-box-description {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-9c4b3a5 {
        --icon-box-icon-margin: 0px;
    }

    .elementor-2787 .elementor-element.elementor-element-9c4b3a5 .elementor-icon-box-title,
    .elementor-2787 .elementor-element.elementor-element-9c4b3a5 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-9c4b3a5 .elementor-icon-box-description {
        font-size: var(--e-global-typography-eb4ed3b-font-size);
        line-height: var(--e-global-typography-eb4ed3b-line-height);
        letter-spacing: var(--e-global-typography-eb4ed3b-letter-spacing);
        word-spacing: var(--e-global-typography-eb4ed3b-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-8095cf6>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2787 .elementor-element.elementor-element-02551ff {
        text-align: center;
    }

    .elementor-2787 .elementor-element.elementor-element-02551ff .elementor-heading-title {
        font-size: var(--e-global-typography-30107de-font-size);
        line-height: var(--e-global-typography-30107de-line-height);
        letter-spacing: var(--e-global-typography-30107de-letter-spacing);
        word-spacing: var(--e-global-typography-30107de-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-37d7dd6 {
        text-align: center;
    }

    .elementor-2787 .elementor-element.elementor-element-2c07205>.elementor-element-populated>.elementor-widget-wrap {
        padding: 50px 0px 0px 0px;
    }

    .elementor-2787 .elementor-element.elementor-element-ce0a97a {
        text-align: center;
    }

    .elementor-2787 .elementor-element.elementor-element-ce0a97a .elementor-heading-title {
        font-size: var(--e-global-typography-30107de-font-size);
        line-height: var(--e-global-typography-30107de-line-height);
        letter-spacing: var(--e-global-typography-30107de-letter-spacing);
        word-spacing: var(--e-global-typography-30107de-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-b16d22a {
        text-align: center;
    }

    .elementor-2787 .elementor-element.elementor-element-7b27ca0 {
        text-align: center;
    }

    .elementor-2787 .elementor-element.elementor-element-956d491.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-2787 .elementor-element.elementor-element-956d491>.elementor-element-populated>.elementor-widget-wrap {
        padding: 50px 0px 0px 0px;
    }

    .elementor-2787 .elementor-element.elementor-element-874a4ae {
        text-align: center;
    }

    .elementor-2787 .elementor-element.elementor-element-874a4ae .elementor-heading-title {
        font-size: var(--e-global-typography-30107de-font-size);
        line-height: var(--e-global-typography-30107de-line-height);
        letter-spacing: var(--e-global-typography-30107de-letter-spacing);
        word-spacing: var(--e-global-typography-30107de-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-705646c {
        width: auto;
        max-width: auto;
    }

    .elementor-2787 .elementor-element.elementor-element-434f544>.elementor-element-populated>.elementor-widget-wrap {
        padding: 50px 0px 0px 0px;
    }

    .elementor-2787 .elementor-element.elementor-element-dddf8d1 {
        text-align: center;
    }

    .elementor-2787 .elementor-element.elementor-element-dddf8d1 .elementor-heading-title {
        font-size: var(--e-global-typography-30107de-font-size);
        line-height: var(--e-global-typography-30107de-line-height);
        letter-spacing: var(--e-global-typography-30107de-letter-spacing);
        word-spacing: var(--e-global-typography-30107de-word-spacing);
    }

    .elementor-2787 .elementor-element.elementor-element-834b672 .ekit_wpForms_container .wpforms-submit-container .wpforms-submit {
        width: 100%;
    }

    .elementor-2787 .elementor-element.elementor-element-b3da97a {
        text-align: center;
    }

    .elementor-2787 .elementor-element.elementor-element-c59ce32 {
        padding: 15px 15px 15px 15px;
    }

    .elementor-2787 .elementor-element.elementor-element-ec0986f {
        text-align: center;
    }

    .elementor-2787 .elementor-element.elementor-element-c61f682 .elementor-widget-container {
        text-align: center;
    }
}